
.contact-list {
    display: flex;
    margin-left: auto;
}

.contact-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 10px;
    margin-left: 50px;
}

.contact-list .contact-item + .contact-item {
    margin-left: 50px;
}

.envelope-icon, .phone-icon {
    margin-right: 10px;
    fill: var(--client-color);
}

.contact:hover ,
.contact:focus {
    fill: var(--accent-color);
}