
.features-container {
    padding: 60px 15px;
}

.feature__list {
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: -30px;
        margin-left: -30px;
        justify-content: center;
    }
}
  
.feature____item {
    @media (min-width: 768px) {
        flex-basis: calc(100% / 2 - 30px);
        margin-top: 30px;
        margin-left: 30px;
    }
  
    @media (min-width: 1200px) {
        flex-basis: calc(100% / 4 - 30px);
        margin-top: 30px;
        margin-left: 30px;
    }
}

.feature____item:not(:last-child) {
    @media (max-width: 767px) {
        margin-bottom: 30px;
    }
}
  

.feature__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.icon {
    width: 70px;
    height: 70px;
    color: var(--primary-text-color);
}

.feature__title {
    width: 270px;
    padding-top: 30px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.66;
    color: var(--primary-text-color);

    @media (max-width: 767px) {
        text-align: center;
    }
}

.feature__text {
    padding-bottom: 30px;
    padding-right: 30px;
    font-size: 14px;
    line-height: 1.71;
    color: var(--secondary-text-color);
}

