    .hero {
        min-height: 400px;
        margin: 0 auto;
      }
      
      @media screen and (max-width: 767px) {
      .hero {
        background-image: var(--gradient-hero),
        url(../images/mobile/hero-480.jpg);
        background-repeat: no-repeat;
        background-size: cover;  
      }
      
      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        max-width: 767px;
      
        background-image: var(--gradient-hero),
        url(../images/mobile/hero-480@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;  
      }
      }
      }
      
      @media screen and (min-width: 768px) {
      .hero {
        background-image: var(--gradient-hero),
        url(../images/mobile/hero-768.jpg);
        background-repeat: no-repeat;
        background-size: cover;  
      }
      
      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        min-width: 768px;
        background-image: var(--gradient-hero),
        url(../images/mobile/hero-768@2x.jpg);
        background-repeat: no-repeat;
        background-size: cover;  
      }
      }
      }
      
      @media screen and (min-width: 1200px) {
      .hero {
        height: 600px;
      
        background-image: var(--gradient-hero),
        url(../images/mobile/hero-1600.jpg);
        background-size: cover;  
        background-repeat: no-repeat;
      }
      @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      .hero {
        min-width: 1200px;
        height: 600px;
      
        background-image: var(--gradient-hero),
        url(../images/mobile/hero-1600@2x.jpg);
        background-size: cover;  
        background-repeat: no-repeat;
      }
      }
      }
      
      .hero__container {
        text-align: center;
        padding-top: 118px;
        padding-bottom: 118px;
        
      @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
      }    
      }
      
      .hero__title {
        padding-bottom: 30px;
        font-weight: 900;
        font-size: 26px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    
        color: var(--primary-white-color);
      
      @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1.36;
        max-width: 600px;
      }
      }


.hero__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    padding: 10px 32px;
    background-color: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    color: var(--primary-white-color);
    text-decoration: none;
    border: none;

    &:hover,
    &:focus {
        outline: none;
    }
}