.activities {
    display: none;

    @media (min-width: 1200px) {
        display: block;
    }
}

.activities-container {
    padding: 0 15px 94px;
}

.section-title {
    padding-top: 94px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.66;
    text-align: center;
    color: var(--primary-text-color);
}

.works {
    display:flex;
    justify-content: center;
}


.item {
    position: relative;
    margin-right: 30px;
    justify-content: center;

    &:last-child {
        margin-right: 0;
    }
}
.item__description {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 27px 82px;
    font-weight: bold;
    font-size: 14px;
    line-height: calc(16 / 14);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background: rgba(47,48,58,0.8);
    color: var(--white-text);
}
