.project__section {
    padding-bottom: 64px;
}

.project__list {
    display: flex;
    flex-wrap: wrap;
}

.project__element {
    position: relative;
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    /*flex-basis: calc((100%-60px) / 3);
    margin-right: 30px;*/
    border: 1px solid var(--card-border-color);

    &:nth-child(3n) {
        margin-right: 0;

    &:hover,
    &:focus {
        background-color: var(--primary-white-color);
        border: 1px solid var(--card-border-color);
        box-sizing: border-box;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    }
}

.project__link {
    text-decoration: none;
}

.project__thumb {
    position: relative;
    overflow: hidden;
}

.project__overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    background-color: var(--overlay-color);
   
    transform: translateY(100%);
    transition: transform 250ms var(--cubic);
}

.project__link:hover .project__overlay {
    transform: translateY(0);
    transition: transform 250ms var(--cubic);
}

.project__description {
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;

    color: var(--overlay-text-color);
}

.project__title {
    padding: 20px 24px 4px;

    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    color: var(--primary-text-color);
    text-decoration: none;
}

.project__text {
    width: 370px;
    padding-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;

    text-decoration: none;
    font-size: 16px;
    line-height: 1.9;
    color:var(--secondary-text-color);
}